h2{

    text-align:center;

    margin-bottom:20px;

}

.result{

    width:100%;

    border-radius:16px;

    margin-bottom:25px;

    box-shadow:0 10px 25px rgba(0,0,0,.15);

}

.secondary-btn{

    width:100%;

    margin-top:15px;

    padding:15px;

    border:none;

    border-radius:12px;

    background:#555;

    color:#fff;

}

.share{

    margin-top:30px;

    text-align:center;

}

.share h3{

    margin-bottom:10px;

}

.share p{

    color:#777;

    margin-bottom:20px;

}

.share-btn{

    width:100%;

    padding:15px;

    border:none;

    border-radius:12px;

    background:#2196f3;

    color:white;

}